<p id="notice"><%= notice %></p>
<br>
<div class="main2">
  <section class="sign-in">
    <div class="signin-content">
    <br>
        <div class="card" style="width: 50rem;">
          <div class="card-body">

            <p>
  
              <%= @annonce.domaine %>  
  
            </p>
            <p>
   
            <%= @annonce.annonce_type %>
            </p>
            <p>
  
            <%= @annonce.description %>
            </p>



                <%= link_to 'Edit', edit_annonce_path(@annonce),class:"card-link" %>
                <%= link_to 'Back', annonces_path ,class:"card-link"%>
                <%= button_to 'Destroy', @annonce, method: :delete ,class:"btn btn-outline-danger"%>
              </div>
        </section>
    </div>
  </div>
  </div>

